@import "./bootstrap.min.css";
@import "./flaticon.css";
@import "./fontawesome-all.min.css";
@import "./magnific-popup.css";
@import "./nice-select.css";
@import "./owl.carousel.min.css";
@import "./price_rangs.css";
@import "./responsive.css";
@import "./slick.css";
@import "./slicknav.css";
@import "./stilo.css";
@import "./themify-icons.css";
@import "./style.css";